@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  overflow-x: scroll;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 1000px;
  page-break-inside: auto;
}

table .absorbing-column {
  width: 100%;
}

td {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: "Verdana";
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
  page-break-inside: avoid;
  page-break-after: auto;
}

thead {
  background-color: black;
  color: white;
  display: table-header-group;
}

tbody {
  border-bottom: 1px solid #dddddd;
}

tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

tbody tr.active-row {
  font-weight: bold;
  color: black;
}

tfoot {
  border-bottom: 2px solid black;
  display: table-footer-group;
}

div {
  page-break-inside: avoid;
}

.export-button {
  position: absolute;
  right: 100px;
  top: 0px;
}

.broken {
  background-color: rgba(255, 0, 0, 0.3);
}

.approved {
  background-color: rgba(0, 255, 0, 0.589);
}
