<template>
<center class="display-1 border-blue-700 px-5 py-2 rounded cursor-pointer text-blue-700 transition-colors">IT Technical Debt Report</center><br>
  <table class="mx-auto container divide-y divide-gray-200 border">
    <thead class="bg-gray-50">
      <tr class="sticky top-0 bg-white bg-blue-700 text-white">
        <th
          v-for="column in columns"
          :key="column.key"
          scope="col"
          class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">
          {{column.header}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="itComponent in itComponents"
        :key="itComponent.id"
        class="bg-white even:bg-gray-100 hover:bg-gray-200 transition-colors">
        <td
          v-for="column in columns"
          :key="column.key"
          class="px-6 py-4 whitespace-nowrap text-xs font-semibold text-gray-900">
            <div
              v-if="Array.isArray(itComponent[column.key])"
              class="flex space-x-1">
              <span
                v-for="relatedFactSheet in itComponent[column.key]"
                :key="relatedFactSheet.id"
                class="border border-blue-700 px-1 py-0.5 rounded cursor-pointer text-blue-700 hover:bg-blue-700 hover:text-white transition-colors"
                @click="showFactsheet(relatedFactSheet)">
                {{relatedFactSheet.name}}
              </span>
            </div>
            <span
              v-else
              class="cursor-pointer text-blue-700 hover:underline"
              @click="showFactsheet(itComponent)">
              {{itComponent[column.key]}}
            </span>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
/* global lx */
import '@leanix/reporting'
import { Workbook } from 'exceljs'
import { saveAs } from 'file-saver'

export default {
  data () {
    return {
      baseUrl: '',
      columns: [],
      itComponents: []
    }
  },
  methods: {
    async initializeReport () {
      const reportSetup = await lx.init()
      const { settings: { baseUrl } } = reportSetup
      this.baseUrl = baseUrl

      this.columns = [
        { key: 'displayName', header: lx.translateFactSheetType('ITComponent', 'plural') },
        { key: 'relatedApplications', header: lx.translateRelation('relITComponentToApplication') },
        { key: 'relatedTechnicalStacks', header: lx.translateRelation('relITComponentToTechnologyStack') }
      ]

      const reportConfiguration = {
        facets: [
          {
            label: lx.translateFactSheetType('ITComponent', 'plural'),
            defaultFilters: [
              {
                facetKey: 'FactSheetTypes',
                keys: ['ITComponent']
              },
              {
                facetKey: 'lifecycle',
                operator: 'OR',
                keys: ['phaseOut', 'endOfLife'],
                dateFilter: {
                  type: 'RANGE_STARTS',
                  from: '1993-06-15',
                  to: new Date().toISOString().split('T')[0] // today in YYYY-MM-DD format
                }
              }
            ],
            attributes: [
              'id',
              'displayName',
              'type',
              'relITComponentToTechnologyStack { edges { node { factSheet { id type name } } } }',
              'relITComponentToApplication { edges { node { factSheet { id type name } } } }'
            ],
            callback: data => {
              this.itComponents = data
                .map(itComponent => {
                  let {
                    id,
                    displayName,
                    type,
                    relITComponentToTechnologyStack: { edges: relatedTechnicalStacks },
                    relITComponentToApplication: { edges: relatedApplications }
                  } = itComponent

                  relatedTechnicalStacks = relatedTechnicalStacks
                    .map(({ node: { factSheet: { id, type, name } } }) => ({ id, type, name }))

                  relatedApplications = relatedApplications
                    .map(({ node: { factSheet: { id, type, name } } }) => ({ id, type, name }))

                  return { id, displayName, type, relatedTechnicalStacks, relatedApplications }
                })
            }
          }
        ],
        ui: {
          elements: {
            root: {
              items: [{ type: 'button', label: 'Export to XLSX', click: this.exportToXlsx }],
              style: { justifyContent: 'end' }
            },
            values: { export: true }
          },
          update: () => {}
        }
      }

      lx.ready(reportConfiguration)
    },
    showFactsheet (factsheet = null) {
      if (factsheet === null) return
      const { id, type } = factsheet
      lx.openLink(`${this.baseUrl}/factsheet/${type}/${id}`)
    },
    async exportToXlsx () {
      lx.showSpinner()
      const workbook = new Workbook()
      const worksheet = workbook.addWorksheet(lx.translateFactSheetType('ITComponent', 'plural'))
      worksheet.columns = this.columns
      const rows = this.itComponents
        .map(({ displayName, relatedApplications, relatedTechnicalStacks }) => ({
          displayName,
          relatedApplications: relatedApplications.map(({ name }) => name).join(', '),
          relatedTechnicalStacks: relatedTechnicalStacks.map(({ name }) => name).join(', ')
        }))
      worksheet.addRows(rows)
      const buffer = await workbook.xlsx.writeBuffer()
      const blob = new Blob([buffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' })
      saveAs(blob, 'document.xlsx')
      lx.hideSpinner()
    }
  },
  created () {
    this.initializeReport()
  }
}
</script>
