<template>
<!-- <h5 class="h5 border-grey px-2 py-1 rounded cursor-pointer text-lightgrey transition-colors" id="recordsList"></h5> -->
<center class="display-1 border-blue-700 px-5 py-2 rounded cursor-pointer text-blue-700 transition-colors">ITComponent Status Report</center><br>
  <table class="mx-auto container divide-y divide-gray-200 border">
    <thead class="bg-gray-50">
      <tr class="sticky top-0 bg-white bg-blue-700 text-white">
        <th
          v-for="column in columns"
          :key="column.key"
          scope="col"
          class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider"
        >
          {{ column.header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="itComponent in itComponents"
        :key="itComponent.id"
        class="bg-white even:bg-gray-100 hover:bg-gray-200 transition-colors"
      >
        <td
          v-for="column in columns"
          :key="column.key"
          class="px-6 py-4 whitespace-nowrap text-xs font-semibold text-gray-900"
        >
          <div
            v-if="column.key==='subscriptions'"
            class="flex space-x-1"
          >
            <span
              v-for="subscription in itComponent[column.key]"
              :key="subscription.id"
              class="border border-blue-700 px-1 py-0.5 rounded cursor-pointer text-blue-700 hover:bg-blue-700 hover:text-white transition-colors"
            >
              {{ subscription.displayName }}
            </span>
          </div>
          <div
            v-else-if="column.key==='comments'"
            class="flex space-x-1"
          >
            <span
              v-for="comments in itComponent[column.key]"
              :key="comments.id"
              class=" border-blue-700 px-1 py-1 rounded cursor-pointer text-blue-700 transition-colors"
            >
              {{ comments.message }}
            </span>
          </div>
          <div
            v-else-if="column.key==='relatedApplications'"
            class="flex space-x-1"
          >
            <span
              v-for="application in itComponent[column.key]"
              :key="application.id"
              class="border border-blue-700 px-1 py-0.5 rounded cursor-pointer text-blue-700 hover:bg-blue-700 hover:text-white transition-colors"
              @click="showFactsheet(application)"
            >
              {{ application.displayName }}
            </span>
          </div>
          <span
            v-else-if="column.key==='displayName'"
            class="cursor-pointer text-blue-700 hover:underline"
            @click="showFactsheet(application)"
          >
            {{ itComponent[column.key] }}
          </span>
          <span
            v-else-if="column.key==='qualitySeal'&& itComponent[column.key]==='APPROVED'"
            class="cursor-pointer text-green-500 hover:underline"
          >
            {{ itComponent[column.key] }}
          </span>
          <span
            v-else-if="column.key==='qualitySeal'&& itComponent[column.key]==='BROKEN'"
            class="cursor-pointer text-red-500 hover:underline"
          >
            {{ itComponent[column.key] }}
          </span>
          <span
            v-else
            class="cursor-pointer text-blue-700 hover:underline"
          >
            {{ itComponent[column.key] }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
/* global lx */

import '@leanix/reporting'
import { Workbook } from 'exceljs'
import { saveAs } from 'file-saver'

export default {
  data () {
    return {
      baseUrl: '',
      columns: [],
      itComponents: []
    }
  },
  methods: {
    async initializeReport () {
      const reportSetup = await lx.init()
      const {
        settings: { baseUrl }
      } = reportSetup
      this.baseUrl = baseUrl

      // Column headers and keys
      this.columns = [
        {
          key: 'displayName',
          header: lx.translateFactSheetType('ITComponent', 'plural')
        },
        {
          key: 'subscriptions',
          header: 'Subscriptions'
        },
        {
          key: 'qualitySeal',
          header: 'Quality Seal'
        },
        {
          key: 'comments',
          header: 'Comments'
        },
        {
          key: 'lastUpdatedDate',
          header: 'Last Updated Date'
        },
        {
          key: 'relatedApplications',
          header: lx.translateRelation('relITComponentToApplication')
        }

      ]

      const reportConfiguration = {
        // Configure Facets to extract GraphQL data
        facets: [
          {
            label: lx.translateFactSheetType('Application', 'plural'),
            defaultFilters: [
              {
                facetKey: 'FactSheetTypes',
                keys: ['ITComponent']
              },
              {
                facetKey: 'relITComponentToApplication',
                operator: 'OR',
                keys: ['__missing__']
              }
            ],
            // Call attributes similar to how you would write a GraphQL query
            attributes: [
              'id',
              'displayName',
              'type',
              'qualitySeal',
              'subscriptions { edges{ node{ user { id displayName } } } }',
              'comments { edges { node { message } } }',
              'relITComponentToApplication { edges { node { factSheet { displayName type updatedAt id} } } }',
              'relITComponentToApplication {totalCount}'
            ],
            callback: data => {
              this.itComponents = data.map(itComponent => {
                let {
                  id,
                  displayName,
                  type,
                  qualitySeal,
                  subscriptions: { edges: subscriptions },
                  relITComponentToApplication: { totalCount: allFactSheets },
                  comments: { edges: comments },
                  relITComponentToApplication: { edges: relatedApplications },
                  relITComponentToApplication
                } = itComponent

                subscriptions = subscriptions.map(
                  ({
                    node: {
                      user: { id, displayName }
                    }
                  }) => ({ id, displayName })
                )

                comments = comments.map(
                  ({
                    node: { message }
                  }) => ({ message })
                )

                relatedApplications = relatedApplications.map(
                  ({
                    node: {
                      factSheet: { displayName, type, updatedAt, id }
                    }
                  }) => ({ displayName, type, updatedAt, id })
                )

                // Last Updated Date
                var lastUpdatedDate = relITComponentToApplication.edges.map((edge) => edge.node.factSheet.updatedAt)

                // Sort in a descending Order
                lastUpdatedDate.sort(function (a, b) { return a > b ? -1 : a < b ? 1 : 0 })

                // Display the ISO 8601 date in a normal form by using a substring of the whole string
                lastUpdatedDate = lastUpdatedDate[0]
                var strMaxDate = String(lastUpdatedDate)
                var date = new Date(strMaxDate)
                var day = date.getDate()
                var year = date.getFullYear()
                var month = date.getMonth() + 1
                var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                lastUpdatedDate = months[month - 1] + ' ' + day + ' ' + year

                if (allFactSheets === 0) {
                  lastUpdatedDate = 'n/a'
                } else { lastUpdatedDate = months[month - 1] + ' ' + day + ' ' + year }

                return {
                  id,
                  displayName,
                  type,
                  subscriptions,
                  allFactSheets,
                  qualitySeal,
                  comments,
                  relatedApplications,
                  lastUpdatedDate
                }
              })
            }
          }
        ],
        ui: {
          elements: {
            root: {
              items: [
                {
                  type: 'button',
                  label: 'Export to XLSX',
                  click: this.exportToXlsx
                }
              ],
              style: { justifyContent: 'end' }
            },
            values: { export: true }
          },
          update: () => {}
        }
      }

      lx.ready(reportConfiguration)
    },
    // Opens selected factsheet in a new browser
    showFactsheet (factsheet = null) {
      if (factsheet === null) return
      const { id, type } = factsheet
      lx.openLink(`${this.baseUrl}/factsheet/${type}/${id}`)
    },
    // Exports data to Excel
    async exportToXlsx () {
      lx.showSpinner()
      const workbook = new Workbook()
      const worksheet = workbook.addWorksheet(
        lx.translateFactSheetType('Application', 'plural')
      )
      worksheet.columns = this.columns
      const rows = this.itComponents.map(
        ({ displayName, subscriptions, qualitySeal, comments, lastUpdatedDate, relatedApplications }) => ({
          displayName,
          subscriptions: subscriptions
            .map(({ displayName }) => displayName)
            .join(', '),
          qualitySeal,
          comments: comments
            .map(({ message }) => message)
            .join(', '),
          lastUpdatedDate,
          relatedApplications: relatedApplications
            .map(({ displayName }) => displayName)
            .join(', ')
        })
      )
      worksheet.addRows(rows)
      const buffer = await workbook.xlsx.writeBuffer()
      const blob = new Blob([buffer], {
        type:
          'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
      })
      saveAs(blob, 'document.xlsx')
      lx.hideSpinner()
    }
  },
  created () {
    this.initializeReport()
  }
}
</script>
