<template>
<div>
<!-- <h5 class="h5 border-grey px-2 py-1 rounded cursor-pointer text-lightgrey transition-colors" id="recordsList"></h5> -->
<center class="display-1 border-blue-700 px-5 py-2 rounded cursor-pointer text-blue-700 transition-colors">TLR Report</center><br>
</div>
  <table class="mx-auto container divide-y divide-gray-200 border">
    <thead class="bg-gray-50">
      <tr class="sticky top-0 bg-white bg-blue-700 text-white">
        <th
          v-for="column in columns"
          :key="column.key"
          scope="col"
          class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider"
        >
          {{ column.header }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="techStack in techStacks"
        :key="techStack.id"
        class="bg-white even:bg-gray-100 hover:bg-gray-200 transition-colors"
      >
        <td
          v-for="column in columns"
          :key="column.key"
          class="px-6 py-4 whitespace-nowrap text-xs font-semibold text-gray-900"
        >
          <div
            v-if="column.key==='subscriptions'"
            class="flex space-x-1"
          >
            <span
              v-for="subscription in techStack[column.key]"
              :key="subscription.id"
              class="border border-blue-700 px-1 py-0.5 rounded cursor-pointer text-blue-700 hover:bg-blue-700 hover:text-white transition-colors"
            >
              {{ subscription.displayName }}
            </span>
          </div>
          <div
            v-else-if="column.key==='comments'"
            class="flex space-x-1"
          >
            <span
              v-for="comments in techStack[column.key]"
              :key="comments.id"
              class=" border-blue-700 px-1 py-1 rounded cursor-pointer text-blue-700 transition-colors"
            >
              {{ comments.message }}
            </span>
          </div>
          <div
            v-else-if="column.key==='relatedITComponents'"
            class="flex space-x-1"
          >
            <span
              v-for="itComponent in techStack[column.key]"
              :key="itComponent.id"
              class="border border-blue-700 px-1 py-0.5 rounded cursor-pointer text-blue-700 hover:bg-blue-700 hover:text-white transition-colors"
              @click="showFactsheet(itComponent)"
            >
              {{ itComponent.displayName }}
            </span>
          </div>
          <span
            v-else-if="column.key==='displayName'"
            class="cursor-pointer text-blue-700 hover:underline"
            @click="showFactsheet(techStack)"
          >
            {{ techStack[column.key] }}
          </span>
          <span
            v-else
            class="cursor-pointer text-blue-700 hover:underline"
          >
            {{ techStack[column.key] }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
/* global lx */

import '@leanix/reporting'
import { Workbook } from 'exceljs'
import { saveAs } from 'file-saver'

export default {
  data () {
    return {
      baseUrl: '',
      columns: [],
      techStacks: []
    }
  },
  methods: {
    async initializeReport () {
      const reportSetup = await lx.init()
      const {
        settings: { baseUrl }
      } = reportSetup
      this.baseUrl = baseUrl

      this.columns = [
        {
          key: 'displayName',
          header: lx.translateFactSheetType('TechnicalStack', 'plural')
        },
        {
          key: 'subscriptions',
          header: 'Subscriptions'
        },
        {
          key: 'allFactSheets',
          header: 'All FactSheets'
        },
        {
          key: 'completeFactSheets',
          header: 'Complete FactSheets'
        },
        {
          key: 'completion',
          header: 'Completion Rate'
        },
        {
          key: 'comments',
          header: 'Comments'
        },
        {
          key: 'lastUpdatedDate',
          header: 'Last Updated Date'
        },
        {
          key: 'relatedITComponents',
          header: lx.translateRelation('relTechnologyStackToITComponent')
        }
      ]

      const reportConfiguration = {
        facets: [
          {
            label: lx.translateFactSheetType('TechnicalStack', 'plural'),
            defaultFilters: [
              {
                facetKey: 'FactSheetTypes',
                keys: ['TechnicalStack']
              },
              {
                facetKey: '6b7a5b67-acbd-41b4-a4b7-de6e9f83cd98',
                operator: 'OR',
                keys: ['9ebb9fe8-064b-4550-b92f-dd642b6f56f6']// TLR Tag Group id and Tag id
              }
            ],
            attributes: [
              'id',
              'displayName',
              'type',
              'subscriptions { edges{ node{ user { id displayName } } } }',
              'relTechnologyStackToITComponent {totalCount}',
              'comments { edges { node { message } } }',
              'relTechnologyStackToITComponent { edges { node { factSheet { qualitySeal displayName type updatedAt id} } } }'
            ],
            callback: data => {
              this.techStacks = data.map(techStack => {
                let {
                  id,
                  displayName,
                  type,
                  subscriptions: { edges: subscriptions },
                  relTechnologyStackToITComponent: { totalCount: allFactSheets },
                  comments: { edges: comments },
                  relTechnologyStackToITComponent: { edges: relatedITComponents },
                  relTechnologyStackToITComponent
                } = techStack

                // document.getElementById('recordsList').innerHTML = 'Listing ' + this.techStacks.length + ' Records'

                subscriptions = subscriptions.map(
                  ({
                    node: {
                      user: { id, displayName }
                    }
                  }) => ({ id, displayName })
                )

                comments = comments.map(
                  ({
                    node: { message }
                  }) => ({ message })
                )

                relatedITComponents = relatedITComponents.map(
                  ({
                    node: {
                      factSheet: { displayName, type, updatedAt, id }
                    }
                  }) => ({ displayName, type, updatedAt, id })
                )

                var qualitySealITComponentFactsheet = relTechnologyStackToITComponent.edges.map((edge) => edge.node.factSheet.qualitySeal)

                const completeFactSheets = qualitySealITComponentFactsheet.filter(function (element) { return element === 'APPROVED' }).length

                // Completion Percentage
                var completion = Math.floor(((parseFloat(completeFactSheets) * 1.0) / parseFloat(allFactSheets)) * 100) + '%'

                if (allFactSheets === 0) { completion = 'n/a' }

                // Last Updated Date
                var lastUpdatedDate = relTechnologyStackToITComponent.edges.map((edge) => edge.node.factSheet.updatedAt)

                // Sort in a descending Order
                lastUpdatedDate.sort(function (a, b) { return a > b ? -1 : a < b ? 1 : 0 })

                // Display the ISO 8601 date in a normal form by using a substring of the whole string
                lastUpdatedDate = lastUpdatedDate[0]
                var strMaxDate = String(lastUpdatedDate)
                var date = new Date(strMaxDate)
                var day = date.getDate()
                var year = date.getFullYear()
                var month = date.getMonth() + 1
                var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                lastUpdatedDate = months[month - 1] + ' ' + day + ' ' + year

                if (allFactSheets === 0) {
                  lastUpdatedDate = 'n/a'
                } else { lastUpdatedDate = months[month - 1] + ' ' + day + ' ' + year }

                return {
                  id,
                  displayName,
                  type,
                  subscriptions,
                  allFactSheets,
                  completeFactSheets,
                  completion,
                  comments,
                  relatedITComponents,
                  lastUpdatedDate
                }
              })
            }
          }
        ],
        ui: {
          elements: {
            root: {
              items: [
                {
                  type: 'button',
                  label: 'Export to XLSX',
                  click: this.exportToXlsx
                }
              ],
              style: { justifyContent: 'end' }
            },
            values: { export: true }
          },
          update: () => {}
        }
      }

      lx.ready(reportConfiguration)
    },
    showFactsheet (factsheet = null) {
      if (factsheet === null) return
      const { id, type } = factsheet
      lx.openLink(`${this.baseUrl}/factsheet/${type}/${id}`)
    },
    async exportToXlsx () {
      lx.showSpinner()
      const workbook = new Workbook()
      const worksheet = workbook.addWorksheet(
        lx.translateFactSheetType('TechnicalStack', 'plural')
      )
      worksheet.columns = this.columns
      const rows = this.techStacks.map(
        ({ displayName, subscriptions, allFactSheets, completeFactSheets, completion, comments, lastUpdatedDate, relatedITComponents }) => ({
          displayName,
          subscriptions: subscriptions
            .map(({ displayName }) => displayName)
            .join(', '),
          allFactSheets,
          completeFactSheets,
          completion,
          comments: comments
            .map(({ message }) => message)
            .join(', '),
          lastUpdatedDate,
          relatedITComponents: relatedITComponents
            .map(({ displayName }) => displayName)
            .join(', ')
        })
      )
      worksheet.addRows(rows)
      const buffer = await workbook.xlsx.writeBuffer()
      const blob = new Blob([buffer], {
        type:
          'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
      })
      saveAs(blob, 'document.xlsx')
      lx.hideSpinner()
    }
  },
  created () {
    this.initializeReport()
  }
}
</script>
